@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,300;0,400;1,800&family=Nova+Mono&family=VT323&display=swap');

/*font-family: 'Barlow Condensed', sans-serif;*/
/*font-family: 'Nova Mono', monospace;*/
/*font-family: 'VT323', monospace;*/
* {
    font-family: 'Barlow Condensed', sans-serif;
}

h1 {
    font-weight:800;
}

p {
    font-size: 1.8rem;
    color: white;
}

.nav-link, .dropdown-item, .lng-btn {
    font-size: 1.2rem!important;
}