/* this sections gives style to quiz game and videogame */



#main-Section {
  margin: 10px 100px 20px 100px;

}

#afaf-gametitle {
    color: var(--bs-orange);
}


#game-section-flex {
    display: flex;
    width: 100%;
    justify-content: center;
}
#game-section {
    background-color: var(--bs-gray);
    width: 80%;
border-radius: 2.5rem;
align-self: center;
}

#game-image {
display: flex;
justify-content: center;
align-items: center;
margin: 50px;
}

#button-section {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin-bottom: 50px;
}