.language-btn {
  display: grid;
  grid-template-columns: auto 1fr;
  justify-content: center;
  background-color: #ffffff;
  border: 1px solid #ff7063;
  border-radius: 1rem;
  padding: 0.2rem 1.2rem 0.2rem 1.2rem;
  -webkit-transition: all 0.5s ease;
}
.language-btn:hover {
  background-color: #ff7063;
  border-color: white;
}

/* .lng-arrow {
    margin-top: 0.2rem;
} */

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

.nav-link {
    display: inline-block;
    position: relative;
    text-decoration: none;
    color: gray!important;
    transition: color 0.5s;
}

.nav-link::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px; 
    background: #ff7063; 
    transition: width 0.3s;
}

.nav-link:hover {
    color: #ff7063!important;
}

.nav-link:hover::before {
    width: 100%;
    background: #ff7063;
}


.fade-out {
  position: fixed;
  top: positionY;
  left: positionX;
  width: 50px;
  height: 50px;
  border-top-left-radius: 100%;
  border-top-right-radius: 100%;
  border-bottom-left-radius: 100%;
  border-bottom-right-radius: 100%;
  background: #ff7063;
  opacity: 0;
  pointer-events: none;
  z-index: 9999;
  transition: all 1s ease;
  transform: scale(50);
}
