



#video-page-content {
  display: grid;
  place-items: center;
  background-color: black;
  width: 45vw !important;
  height: 50vh !important;
}

#video {
  background-color: black;
  width: 45vw !important;
  height: 50vh !important;
}



.choice-btn {
  font-size: 1.4rem;
}






#nextButton{
background-color: aqua;
}

#backButton{
background-color: green;
}

#loader {
  
  
  



  border: 4px solid rgb(255, 192, 192);
  border-left-color: transparent;
  border-radius: 50%;
}

#loader {
  border: 4px solid rgba(255, 38, 0, 0.531);
  border-left-color: transparent;
  width: 128px;
  height: 128px;
}

#loader {
  border: 4px solid rgb(255, 8, 8);
  border-left-color: transparent;
  width: 128px;
  height: 128px;
  animation: spin89345 1s linear infinite;
}

@keyframes spin89345 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}